:root {
    --background-color: #19212c;
    --font-color: #f7f7f7;
    --pointer-color: #888;
    --dark-color: #171a1f;
}
body {
    background-color: var(--dark-color);
    font-family: sans-serif;
}
.question-container {
    width: 40rem;
    height: 30rem;
    color: var(--font-color);
    margin: auto;
    padding: 1rem;
}
.title-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.question-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.question-number,
.question-score {
    color: var(--pointer-color);
}
.question {
    font-size: 1.2rem;
    line-height: 1.75rem;
    padding-bottom: 1.4rem;
}
.option1 {
    width: 40rem;
    height: 3rem;
    background-color: var(--background-color);
    border: none;
    border-radius: 15px;
    margin: 1.3rem auto;
    font-size: 1.3rem;
    color: var(--font-color);
}
.answer {
    text-decoration: none;
    color: var(--font-color);
}
