.navbar {
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #1f2831;
}
.container {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.left {
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
}
.search {
    width: 40vw;
    padding: 10px;
    margin-right: 10px;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
    background-color: #192938;
}
img {
    height: 50px;
    margin-right: 50px;
}
.right {
    padding-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon {
    margin-left: 30px;
}
